// Colors
$bg-color: #101935;
$mint: #9AD4D6;
$flavorless: #b6d3d4;
$azure: #F2FDFF;
$deep-purple: #120b29;
$ultraviolet: #564787;
$lilac: #8c70ba;
$shadow-color: rgba(0, 0, 0, 0.3);

$default-font: 'Libre Baskerville', serif;